@model IEnumerable<Employee>
@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewEmployeeToDB">            
            <div class="form-group">
                <label for="firstname" class="control-label"></label>
               <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Firstname" required>
            </div>

             <div class="form-group">
                <label for="lastname" class="control-label"></label>
               <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Lastname" required>
            </div>

            <div class="form-group">
                <label for="phone" class="control-label"></label>
               <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>

             <div class="form-group">
                <label for="email" class="control-label"></label>
               <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>

              <div class="form-group">
                <label for="role" class="control-label AddEmployeeRole">Select Role</label>
                <select name="role" class="status" id="role" placeholder="Role" required>                             
                    <option>Employee</option>
                    <option>Admin</option>
                    <option>Chef</option>
                    <option>Janitor</option>                   
               </select>
            </div>

            <div class="form-group">
                <label for="password" class="control-label"></label>
               <input type="text" name="password" class="form-control" id="password" placeholder="Password"required>
            </div>           
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
