
@{
    ViewData["Title"] = "Index";
}

<h1>Employee Data:</h1>


        <form asp-action="DisplayEmployees" class=" EmployeeAllEmpbutton">     
            
                <input type="submit" value="All Employees" class="btn btn-primary"  />
           
        </form>

        <form asp-action="AddEmployee" class=" EmployeeAddEmpbutton" >     
            
                <input type="submit" value="Add Employee" class="btn btn-primary" style="{margin: 20px}" />
           
        </form>

